<div class="background">
  <div class="container">
    <div class="search">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixIconButton">
        <input
          nz-input
          placeholder="Étterem keresése..."
          [(ngModel)]="searchedDish"
          (ngModelChange)="onChange($event)"
          [nzAutocomplete]="auto"
          (keyup.enter)="onSearch()"
        />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          nzSearch
          (click)="onSearch()"
        >
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </button>
      </ng-template>
      <nz-autocomplete #auto [nzDataSource]="dishOptions"></nz-autocomplete>
    </div>
    <div class="restaurants-container" *ngIf="showAll">
      <div *ngFor="let category of dishCategories">
        <h2>{{ category }}</h2>
        <app-dish-card
          *ngFor="
            let dish of dishes | dishCategoryFilter: { category: category }
          "
          [dish]="dish"
          [restaurantId]="restaurantId"
        >
        </app-dish-card>
      </div>
    </div>
    <div class="restaurants-container" *ngIf="!showAll">
      <app-dish-card
        *ngFor="let dish of dishFiltered"
        [dish]="dish"
        [restaurantId]="restaurantId"
      >
      </app-dish-card>
      <div *ngIf="dishFiltered.length === 0">Nem található ilyen étterem.</div>
    </div>
  </div>
</div>
