<div class="background">
  <div class="container">
    <nz-card>
      <nz-select
        style="width: 100%; margin-bottom: 10px"
        [(ngModel)]="resturantId"
        (ngModelChange)="updateCurrentOrders()"
      >
        <nz-option
          *ngFor="let r of restaurants"
          [nzValue]="Number(r.id)"
          [nzLabel]="String(r.name)"
          >{{ r.name }}</nz-option
        >
      </nz-select>
      <!-- <p *ngFor="let o of orders">
        Új rendelés érkezett:
        {{printOrderLines(o)}}</p> -->
      <app-order-card
        *ngFor="let o of orders"
        [order]="o"
        [deliveries]="deliveries"
      ></app-order-card>
    </nz-card>
  </div>
</div>
