<nz-card nzTitle="Menü kategória" [nzExtra]="extraTemplate">
  <div class="container">
    <input nz-input placeholder="Név" [(ngModel)]="newMenuCategory" />

    <button nz-button nzType="primary">Rögzít</button>
  </div>
</nz-card>
<ng-template #extraTemplate>
  <!-- <a>More</a> -->
</ng-template>
