<form 
  nz-form 
  [formGroup]="loginForm" 
  class="login-form"
  (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control
      nzErrorTip="A felhasználónévnek [6-12] karakter hosszúságúnak kell lennie!"
    >
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          nz-input
          formControlName="username"
          placeholder="Felhasználónév"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      nzErrorTip="A jelszónak [8-16] karakter hosszúságúnak kell lennie!"
    >
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Jelszó"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>Maradjak bejelentkezve</span>
      </label>
    </div>
    <div nz-col [nzSpan]="12">
      <a class="login-form-forgot">Elfelejtett jelszó?</a>
    </div>
  </div>
  <div *ngIf="this.errorString">{{errorString}}</div>
  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Bejelentkezés
  </button>
  <div class="login-form-redirect">
    <a [routerLink]="['/auth/register']"> Átirányítás a regisztrációhoz </a>
  </div>
</form>
