/* -------------------------------- Basic NG-Zorro customization  -------------------------------- */
@import 'src/styles.less';
@login-component-spacing: @font-size-base;
@login-component-width: 100%;
/* ------------------------------------------------------------------------------------------------ */

:host {
  width: @login-component-width;
}

.login-form-margin {
  margin-top: @login-component-spacing;
  margin-bottom: @login-component-spacing;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-form-redirect {
  .flex-mixin(row nowrap, center, center);
}
