<div class="background">
  <div class="container">
    <nz-card *ngIf="currentOrders.length !== 0">
      <app-job-card *ngFor="let o of currentOrders" [order]="o"> </app-job-card>
    </nz-card>
    <h3 *ngIf="currentOrders.length === 0">Nincs még munka.</h3>
  </div>
</div>
