/* -------------------------------- Basic NG-Zorro customization  -------------------------------- */
@import 'src/styles.less';
@main-layout-spacing: @font-size-base;
@main-layout-height: 100vh;
/* ------------------------------------------------------------------------------------------------ */

:host {
  nz-layout {
    min-height: @main-layout-height;
  }
}

.main-layout__header {
  // Select every div element a.k.a the wrappers [nz-col] and make them a flexbox.
  div {
    height: 100%;
    & * {
      color: white;
    }
    gap: @main-layout-spacing;
    .flex-mixin(row nowrap, flex-start, center, @main-layout-spacing);
    &:last-child {
      justify-content: flex-end; // Pull out to the right
    }
  }
}

.title {
  cursor: default;
}

nz-footer {
  background-color: @primary-color !important;
  color: white !important;
  text-align: center;
}
