<nz-layout>
  <nz-header class="main-layout__header">
    <div nz-row>
      <div nz-col nzFlex="1">
        <h4 class="title" nz-typography>{{ 'kitchen boss' | titlecase }}</h4>
        <!-- <a [routerLink]="['/home']">Éttermek</a>
        <a [routerLink]="['/owner/add-dish']">Étel rögzítése</a>
        <a [routerLink]="['/owner/dish-list']">Ételek listázása</a> -->
        <span *ngFor="let link of links">
          <a
            *ngIf="linkShow(link, authService.getRole())"
            routerLink="{{ link.path }}"
          >
            {{ link.title }}
          </a>
        </span>
      </div>
      <div nz-col nzXs="6" nzMd="4" nzLg="2">
        <a
          *ngIf="!authService.loggedIn()"
          nz-button
          nzShape="circle"
          nzType="primary"
          [routerLink]="['/auth']"
        >
          <i nz-icon nzType="user" nzTheme="outline"></i>
        </a>
        <a
          nz-button
          nzType="primary"
          *ngIf="authService.loggedIn()"
          (click)="authService.logout()"
        >
          Kilépés
        </a>
        <a nz-button nzShape="circle" nzType="primary" (click)="toggleDrawer()">
          <i nz-icon nzType="shopping" nzTheme="outline"></i>
        </a>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer> Kitchen Boss ©2021 Implemented By Kitchen Dev Guys </nz-footer>
</nz-layout>

<nz-drawer
  nzPlacement="right"
  nzTitle="Bevásárlókosár"
  [nzVisible]="(this.shoppingCartDrawerVisibility$ | async)!.valueOf()"
  [nzClosable]="false"
  (nzOnClose)="toggleDrawer()"
>
  <!-- TODO -->
  <ng-container>
    <p *ngFor="let dish of cartService.getDishes()">{{dish.name}} ár: {{dish.price}}</p>
    <p>Összesen: {{cartService.getTotal()}}</p>
    <a (click)="onOrder()">Fizetés</a>
  </ng-container>
</nz-drawer>
