/* You can add global styles to this file, and also import other style files */

/* -------------------------------- Basic NG-Zorro theme customization file -------------------------------- */
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';

// 1. For more information    - https://ng.ant.design/docs/customize-theme/en
// 2. Less variables          - https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
// 3. Specs for spacing       - https://ant.design/docs/spec/font

/* ============ NG-ZORRO base @overrides ============  */
@primary-color: @red-7;
@layout-header-background: @red-7;
@layout-header-height: 60px;
@layout-header-padding: 0 12px;
@layout-header-color: @white;
@body-background: #929292;
/* ============ NG-ZORRO base @overrides ============  */

.flex-mixin(@flow, @primary-axis, @secondary-axis, @gap: 0) {
  display: flex;
  flex-flow: @flow;
  justify-content: @primary-axis;
  align-items: @secondary-axis;
  gap: @gap;
}

.icon-size-mixin(@size: @menu-icon-size) {
  font-size: @size;
  height: @size;
  width: @size;
  line-height: @size;
}
