<form
  nz-form
  [formGroup]="deliveryForm"
  class="login-form"
  (ngSubmit)="formSubmit()"
>
  <app-shared-form
    addressControlName="Szállítási vonzáskörzet címe"
    formControlName="shared"
  >
  </app-shared-form>
  <div class="slider">
    <nz-slider formControlName="radius"></nz-slider>
  </div>
  <div *ngIf="errorString">Hiba: {{ errorString }}</div>
  <div *ngIf="successString">{{ successString }}</div>
  <button
    style="width: 100%; margin: 10px 0 10px 0"
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Regisztráció
  </button>
</form>
